body {
    margin: 0;
    padding: 0;
}

* {
    vertical-align: top;
    outline: none;
    border: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
img,
button,
input,
hr,
br,
ol,
li,
ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

header {
    width: 100%;
}

.top-header {
    width: 100%;
    padding: 7px 0;
    background-color: #F6F5F2;
}

.contactdata {
    width: 50%;
    padding: 0 15px;
}

.contactdata ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;
}

.contactdata ul li a {
    color: brown;
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    align-items: center;
}

.rightdata {
    width: 50%;
    padding: 0 15px;
}

.rightdata ul {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
    justify-content: end;
}

.rightdata ul li a {
    color: brown;
    padding: 5px 7px 5px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 5px;
    text-transform: uppercase;
    transition: 0.5s;
}

.header-bottom {
    width: 100%;
    background-color: #F0EBE3;
    /* position: fixed; */
    padding: 10px 0;
}

.header-buttom.hh {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    animation: name;
    animation-duration: 1s;
    animation-direction: initial;
    box-shadow: 0px 0px 5px 0px #2f2f2f;
}

.logo {
    width: 15%;
    padding: 0 15px;
}

.logo img {
    width: 100%;
    height: 80px;
    width: 80px;
}

.menu {
    width: 70%;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5px;
}

.menu ul li a {
    color: brown;
    padding: 22px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-transform: uppercase;
    font-family: "Sour Gummy", serif;
    font-size: 20px;
    font-weight: 500;

}

.centre {
    align-items: center;
}

.enquiry-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    cursor: pointer;
}

.enquiry-cart {
    width: 15%;
    padding: 0 15px;
}

.enquiry-cart button {
    background-color: #677D6A;
    width: 100%;
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px 0;
    color: #fff;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    border: 1px solid #f3eeea;
    transition: 0.5s;
}

.enquiry-cart button i {
    font-size: 15px;
    margin-left: 5px;
}

#banner {
    width: 100%;
}

#banner img {
    width: 100%;
}

#about-us {
    width: 100%;
    padding: 60px 0;
}

.product {
    width: 55%;
    padding: 0 15px;
}

.product-img img {
    width: 100%;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.about-product {
    width: 45%;
    padding: 0 15px;
    padding-left: 70px;
}

.about-product h2 {
    font-size: 45px;
}

.til {
    font-size: 36px;
    font-weight: 600;
    color: #111;
    padding-bottom: 3px;
    position: relative;
    margin-bottom: 10px;
}

.til::after {
    position: absolute;
    content: "";
    bottom: 5px;
    left: 0;
    background: #677D6A;
    width: 90px;
    height: 3px;
}


.about-product p {
    margin-bottom: 10px;
    font-size: 20px;
}

#producs {
    width: 100%;
    padding-bottom: 60px;
}

.tital {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.tital .til::after {
    position: absolute;
    content: "";
    bottom: 2px;
    left: 46%;
    background: #677D6A;
    width: 90px;
    height: 3px;
}

.product-typs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: space-between;
    /* display: flex;
    justify-content: space-between;
    column-gap: 45px;
    height: 100%; */
}

.product-need {
    width: 24%;
    padding: 10px 15px;
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px #938c8c;
    /* height: 100%; */
    margin-bottom: 25px;
    
}

.product-need img {
    
    width: 100%;
    height: 244px;
    object-fit: cover;
    border-radius: 20px;
    
}

.product-need h2 {
    font-family: "Sour Gummy", serif;
    font-size: 24px;
    padding-top: 15px;
    font-weight: 600;
}

.product-need button {
    color: white;
    padding: 8px 27px;
    font-size: 16px;
    font-weight: 500;
    margin: 20px auto;
    display: flex;
    align-items: center;
    column-gap: 5px;
    background: #677D6A;
    border-radius: 5px;
}
.fa-shopping-cart {
    margin-bottom: 3px;
}

.gap {
    row-gap: 30px;
}
/* #why{
    width: 100%;
    padding: 60px;
}
.why-main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.why-pic{
    width: 50%;
}
.why-pic img{
    width: 100%;
  border-radius: 5px 0 0 5px;
}

.why-text{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    background-color: #E1ECC8;
}

/* .why-text h2 {
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    line-height: 56px;
    max-width: 77%;

} */ 


#zoom{
     width: 100%;
     padding: 60px;
}
.tabs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.tabs-stage{
    width: 50%;
    padding-right: 15px;
    display: flex;
}

.tabs-stage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tabs-nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.tabs-nav li{
    width: 50%;
}
.tabs-nav li img {
    width: 95%;
    height: 311px;
    object-fit: cover;
}

/* .active {
    color: #677D6A !important;
} */


#our-mission{
    width: 100%;
    padding-bottom: 60px;
}

.our-div{
    width: 33.33%;
    padding: 0 15px;
    display: flex;
}
.our-mission-img img{
    width: 100%;
}

.our-mission-img{
    border: 1px solid #6a7976;
    padding: 10px;
    border-radius: 5px;
}

.ad {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    padding: 10px 0 5px 0;
}

.our-misson-img h2 {
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    font-weight: 500;
}
footer {
    width: 100%;
    background-color:#606C5D;
    margin-top: 45px;
}

.footer-top {
    padding: 50px 0 70px 0;
}

.boxML {
    width: 40%;
    padding: 10px 15px;
}

.boxML h3 {
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.boxML ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.fa-map-marker {
    font-size: 21px !important;
}

.fd {
    border-color: #fff;
    color: #fff;
    display: inline-block;
    margin-right: 15px;
    margin-top: 4px;
    font-size: 18px !important;
    vertical-align: top;
}

.cL {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    column-gap: 15px;
}

.cL li a {
    background-color: #A2A378;
    border: 1px solid #A2A378;
    color: #fff !important;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.boxM {
    width: 20%;
    padding: 0 15px;
}

.boxM ul li {
    padding-bottom: 10px;
}

.boxM ul li a {
    font-size: 14px;
    color: #fff;
    transition: 0.5s;
}

.boxML form input {
    display: block;
    width: 75%;
    padding: 13px 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50px 0 0 50px;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #000;
}

.yy {
    padding-right: 60px !important;
}

.boxM h3 {
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.boxML p {
    color: #fff !important;
}

.boxML li a {
    color: #fff !important;
}

.if {
    margin-bottom: 20px;
}

.boxML form button {
    height: 100%;
    width: 25%;
    height: 50px;
    color: #fff;
    font-size: 20px;
    border-radius: 0 5px 5px 0;
    background-color: #A2A378;
    cursor: pointer;
}

.boxML form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer-last {
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.copyright {
    width: 100%;
    padding: 0 15px;
}

.copyright p {
    color: #fff;
    text-align: center;
    font-weight: normal;
}



#banner2{
    width: 100%;
   
}

#banner2 img{
    width: 100%;
}

#about-text{
    width: 100%;
    padding: 20px 0px;
}

.imjust{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
   
}

.liner{
    width: 100%;
}

.liner ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    column-gap: 5px;
}
.liner h2 {
    font-size: 35px;
    font-family: "Sour Gummy", serif;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 25px;
}

/* .ourdiv2{
    width: 24%;
}

.our-product{
    position: relative;
    overflow: hidden;
}

.our-product img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}
.product-imhand button{
    margin: 0;
    font-size: 15px;
    width: 100%;
    border-radius: 5px !important;
    padding: 9px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    transition: 00.5s;
}
.product-imhand {
    cursor: pointer;
    text-align: center;
    background: #f2fbfd;
    padding: 20px;
    border-radius: 5px;
}

.product-imhand:hover .our-product button {
    bottom: 0;
}

.product-imhand a {
    font-size: 14px;
    color: #333;
    line-height: 23px;
    position: relative;

    margin-bottom: 10px;

}

.product-imhand h5 {
    font-size: 17px;
    color: #468585;
    margin-bottom: 10px;
    margin-top: 5px;
}
 */
.impage{
    padding-bottom: 10px;
}
 .impage p { 

font-size: 18px;
 }

 .indatat img{
    border-radius: 165px 0 165px 0;
 }
.l{
    padding: 10px 0;
}
 .l p{
    font-size: 18px;
 }

 #about-text {
    width: 100%;
    padding: 20px 0;
}

.im {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    position: relative;
}
.cobre p {
    display: none;
    font-size: 13px;
    font-weight: normal;
}

.cobre {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #777;

}

.cobre h2 {
    margin-bottom: 0 !important;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    font-weight: 600;
}

.after::before {
    width: 100%;
    height: 1px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #777;
}
.after::before {
    width: 100%;
    height: 1px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #777;
}

.addresh {
    width: 50%;
    padding-right: 25px;
    border-right: 1px solid #777;
}

.addresh h2 {
    font-weight: 500;
    line-height: 20px;
}

.addresh p {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 20px;
}

.addresh ul li {
    padding-bottom: 10px;
}

.addresh ul li a {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #58595b
}

.fa-mobile {
    font-size: 28px !important;
}

.form-in {
    width: 50%;
    padding: 0 15px;
    padding-left: 25px;
}

.form-div {
    width: 49%;
}

.form-div input {
    background-color: #f6f6f6;
    padding: 10px 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: var(--color-content);
    border: 1px solid var(--color-gray);
    border-radius: 3px;
    margin-bottom: 20px;
}

.form-in form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.number {
    width: 100%;
}

.form-div textarea {
    width: 100%;
    height: 150px;
    resize: none;
    background-color: #f6f6f6;
    padding: 10px 10px;
    border-radius: 3px;
}

.form-div button {
    background-color: #468585;
    cursor: pointer;
    border: none;
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    padding: 20px;
    color: #fff;
    margin-top: 20px;
    border-radius: 3px;
}
